@model akcet_fakturi.Areas.EmailTemplates.Models.InvoiceEmailBodyViewModel
<html>
<head>
</head>
<body>
    <p>

        Geachte heer/mevrouw, Уважаеми г-н/г-жо,
    </p>

    <p>
        Hierbij ontvangt u onze factuur als bijlage in PDF. Deze factuur kan worden geopend med <a href="https://get.adobe.com/reader/" title="Adobe">Adobe Acrobat Reader</a>
    </p>

    <p>Като прикачен PDF файл ви изпращаме нашата фактура. Тази фактура може да бъде отворена чрез <a href="https://get.adobe.com/reader/" title="Adobe">Adobe Acrobat Reader</a></p>

    <p>
        Details/Детайли
        <br />
        factuurnumer: @Model.FakturaNumber
        <br />
        factuurdatum: @Model.FakturaDate
        <br />
        Vershuldigd bedrag / Обща сума: @Model.Total
        <br />
        Datum vershuldigd / Дата на падеж: @Model.FakturaEndDate


    </p>

    <p>
        Ik hoop u hiermee voldoende te hebben geinformeed
    </p>
    <p>
        Надяваме се, горепосочените данни са достатъчни за да бъдете информирани.
    </p>
    <p>
        Met vriendelijke groet, / С Уважение
    </p>
</body>
</html>


