@model akcet_fakturi.Areas.EmailTemplates.Models.InvoiceEmailBodyViewModel
<html>
<head>
</head>
<body>
    <p>

       Geachte heer/mevrouw, 
    </p>

    <p>
       Hierbij ontvangt u onze factuur als bijlage in PDF. Deze factuur kan worden geopend met  <a href="https://get.adobe.com/reader/" title="Adobe">Adobe Acrobat Reader</a>
    </p>

  
    <p>
        Details
        <br />
        factuurnummer: @Model.FakturaNumber
        <br />
        factuurdatum: @Model.FakturaDate
        <br />
         Verschuldigd bedrag: @Model.Total
        <br />
        Datum verschuldigd: @Model.FakturaEndDate


    </p>

    <p>
ik hoop u hiermee voldoende te hebben geïnformeerd.
    </p>

</body>
</html>


