@model akcet_fakturi.Areas.EmailTemplates.Models.WerkbriefEmailBodyViewModel
<html>
<head>
</head>
<body>
    <p>

        Geachte heer/mevrouw,
    </p>

    <p>
        Hierbij ontvangt u onze werkbrief als bijlage in PDF. Deze werkbrief kan worden geopend met  <a href="https://get.adobe.com/reader/" title="Adobe">Adobe Acrobat Reader</a>
    </p>


    <p>
       Binnenkort gaat u nog een factuur voor dezelfde periode ontvangen
    </p>

    <p>
      Met vriendelikijke groet, @Model.CompanyName
    </p>
<p>
    *Als u denkt dat dit bericht niet voor u bestemd is, wordt u vriendelijk verzocht dit aan afzender te melden.
</p>
</body>
</html>


