

<div role="tabpanel" class="tab-pane" id="settings">
    <div class="row text-center">
        <div class="col-md-6">
            <button class="btn btn-success btn-lg">Свали в .pdf </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success btn-lg">Принтирай</button>
        </div>
    </div>
    <div id="saved-faktura">

    </div>
</div>
