<div role="tabpanel" class="tab-pane active" id="home">
    <div class="row">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="company-name">Име на фирма</label>
                        <select class="form-control select2" style="width: 100%;" id="company-name">
                            <option selected="selected">Компания ООД</option>
                            <option>Alaska</option>
                            <option>California</option>
                            <option>Delaware</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Washington</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                </div>

                <div class="col-md-1">
                    <label for="new-company">Нова</label>
                    <button type="button" class="btn btn-info btn-sg" data-toggle="modal" data-target="#myModal" id="new-company"> <span class="glyphicon glyphicon-plus" </span></button>
                </div>



                <div class="col-md-2">


                    <div class="box-body">
                        <!-- Date range -->
                        <div class="form-group">
                            <label for="dates">Дата на издаване</label>
                            <div class="input-group">
                                <div class="input-group-addon" id="dates">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="reservation">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="period">Дата на падеж</label>
                        <input type="text" class="form-control" id="period"/>
                    </div>
                </div>
                <!-- /.form group -->
                <div class="col-md-4" style="margin-left: 0px;">
                    <div class="form-group">
                        <label for="period">Период</label>
                        <input type="text" class="form-control" id="period"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row text-center" style="margin-top: 50px">
        <a class="btn btn-success btn-lg btnNext">Продължи с добавяне на продукти</a>

    </div>
</div>
