@using akcet_fakturi.Helpers


<style>
    #saved-faktura {
        border: 1px solid black;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 25px;
    }
</style>
<div role="tabpanel" class="tab-pane" id="messages">
    <div class="alert alert-success alert-dismissable" id="alert-box-invoice">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>	<i class="icon fa fa-check"></i> @Html.MultiLanguage(1039)</h4>
        @*Saving werkbiref.*@
@Html.MultiLanguage(1040)
    </div>
    <div id="reviewInvoice"></div>

    <div class="row  text-center" style="margin-top: 50px">
        @*<a class="" id="saveInvoiceConfirmed">Запази и принтирай въведената фактура</a>*@
        @Ajax.ActionLink(Html.MultiLanguage(1014), "SaveWerkbriefConfirmed", "Werkbrief", new { value = true },
            new AjaxOptions()
            {
                UpdateTargetId = "saved-faktura",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "SuccessInsertingInvoice",
                OnBegin = "BeginInsertingInvoice"
            }
            , new { @class = "btn btn-warning btn-lg btnNext" })
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#alert-box-invoice").hide();
    });
    function SuccessInsertingInvoice() {
        $('.nav-tabs > .active').addClass('disabled');
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
        $('.nav-tabs > .active').removeAttr("style");
        $("#nav-tabs-invoices").remove();
    };

    function BeginInsertingInvoice() {
        $('html, body').animate({ scrollTop: 0 }, 500);
        $("#alert-box-invoice").alert();
        $("#alert-box-invoice")
            .fadeTo(2000, 500)
            .slideUp(500,
                function () {
                    $("#alert-box-invoice").alert('close');
                });
    }
</script>