body {
    padding-bottom: 20px;
}

.no-padding{
    padding:0 !important;
    margin: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.btnCreateNew{
        margin-bottom: 20px;
    margin-top: 6px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Image Links to the HomePage*/
.image-link{
   height:170px;
   width:100%;
}

.links-button{
    position:relative;
    top:-40px;
    left:45px;
    opacity:0.8;
}

.text-links{
    position:relative;
    top:-30px;
    text-align:center;
    font-size:18px;
    color:#000000;
}