



    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="firstname" class="col-sm-3 control-label">Име</label>
            <div class="col-sm-9"> <input type="text" class="form-control" id="firstname" placeholder="Борислав"> </div>
        </div>



        <div class="form-group">
            <label for="firstname" class="col-sm-3 control-label">Парола</label>
            <div class="col-sm-9"> <input type="password" class="form-control" id="firstname" placeholder="Въведете паролата, която желаете тук"> </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Запомни ме
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9"> <button type="submit" class="btn btn-default"> <a href="log-user.html"> Вход </a></button> </div>
        </div>
    </form>
