@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Companies = "active";
    
}

<h2>Компании</h2>
  <!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink("Създай нова компания", "Create")
</p>

@(Html.Kendo().Grid(Model).Name("Copmanies").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.CompanyName);
    columns.Bound(m => m.CompanyMol);
    columns.Bound(m => m.CompanyBulsatat);
    columns.Bound(m => m.CompanyDescription);
    columns.Bound(m => m.CompanyPhone);
})
    )